experiments/trained_models/*/*/
!experiments/trained_models/*/
!experiments/trained_models/*/*/
experiments/.pytest_cache
experiments/__pycache__
experiments/models/__pycache__
experiments/data/*
!experiments/data/c-labels.txt
!experiments/data/README.md
experiments/configs/__pycache__
experiments/models/__pycache__
.idea/
organizational/